section.history
	.history__wrapper
		+title(title='история создания барбершопа', sub='8.8.7 art barbers?', text='Изучите историю создания нашего барбершопа, ведь это не просто выдумка, стандартное решение. Углубись в историю вместе с нами!')