section.history._sect
	.__wrapper.wrapper-mini
		+title('история создания барбершопа', '8.8.7 art barbers?', 'Изучите историю создания нашего барбершопа, ведь это не просто выдумка, стандартное решение. Углубись в историю вместе с нами!')

		.text-columns
			.text-column Со временем, преданным развитию заведений в сфере барберинга в различных локациях Твери и других городов России, включая Уфу и Челябинск, зародилась уникальная концепция ART пространства. Наша идея заключается в создании комьюнити творческих барберов, работающих не на, а с заведением.
		
			.text-column Мы стремимся создать пространство, где простота и дружелюбные отношения к каждому клиенту станут ценностью. Наша миссия - быть местом, где гости могут быть уверены в безукоризненном сервисе. 8.8.7 art barbers не просто барбершоп - это место, где искусство и качество сочетаются в каждой стрижке.

		.history__gallery.gallery-history
			.gallery-history__item._fit
				img._fit-img(src="img/history/1.jpg" alt="alt")

			.gallery-history__row
				.gallery-history__item._fit
					img._fit-img(src="img/history/2.jpg" alt="alt")
				.gallery-history__item._fit
					img._fit-img(src="img/history/3.jpg" alt="alt")

			.gallery-history__row
				.gallery-history__item._fit
					img._fit-img(src="img/history/4.jpg" alt="alt")
				.gallery-history__item._fit
					img._fit-img(src="img/history/5.jpg" alt="alt")

	.history__decor
		img(src="img/decor-left.svg" alt="alt")