section.how-work._sect
	.how-work__wrapper.wrapper-mini
		+title('как работает', '8.8.7 art barbers?', '')

		.text-columns
			.text-column Наш логотип представляет из себя голову Моаи, символизирующую целеустремленность и мимику, отражающую внешние мнения.
		
			.text-column Этот символический образ говорит о нашей целеустремленности и способности адаптироваться к изменяющимся обстоятельствам.

		.history__gallery.gallery-history
			.gallery-history__item._fit
				img._fit-img(src="img/history/1.jpg" alt="alt")

			.gallery-history__row
				.gallery-history__item._fit
					img._fit-img(src="img/history/2.jpg" alt="alt")
				.gallery-history__item._fit
					img._fit-img(src="img/history/3.jpg" alt="alt")

			.gallery-history__row
				.gallery-history__item._fit
					img._fit-img(src="img/history/4.jpg" alt="alt")
				.gallery-history__item._fit
					img._fit-img(src="img/history/5.jpg" alt="alt")