section.naming._sect
	.naming__wrapper.wrapper-mini
		+title('идея названия И ЧТО СКРЫВАЕТ', '8.8.7 art barbers?', 'Узнайте больше, о том, как 8.8.7 art barbers получил свое название и что скрывает высококлассные услуги по стрижке и уходу за внешностью для мужчин.')

		.naming__img
			img(src="img/whatshide.jpg" alt="alt")
		.naming__logo
			img(src="img/logo-black.svg" alt="alt")

		.text-columns
			.text-column Наш логотип представляет из себя голову Моаи, символизирующую целеустремленность и мимику, отражающую внешние мнения.
		
			.text-column Этот символический образ говорит о нашей целеустремленности и способности адаптироваться к изменяющимся обстоятельствам.
