.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-backward {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-burger {
	font-size:(14/10)*1rem;
	width:(18/14)*1em;
}
.icon-calendar {
	font-size:(34/10)*1rem;
	width:(33/34)*1em;
}
.icon-card-arrow {
	font-size:(29/10)*1rem;
	width:(22/29)*1em;
}
.icon-download {
	font-size:(26/10)*1rem;
	width:(20/26)*1em;
}
.icon-home {
	font-size:(33/10)*1rem;
	width:(33/33)*1em;
}
.icon-loc {
	font-size:(34/10)*1rem;
	width:(33/34)*1em;
}
.icon-next {
	font-size:(8/10)*1rem;
	width:(67/8)*1em;
}
.icon-place {
	font-size:(30/10)*1rem;
	width:(29/30)*1em;
}
.icon-prev {
	font-size:(8/10)*1rem;
	width:(67/8)*1em;
}
.icon-shape-circle {
	font-size:(11/10)*1rem;
	width:(11/11)*1em;
}
.icon-shield {
	font-size:(34/10)*1rem;
	width:(33/34)*1em;
}
.icon-users {
	font-size:(34/10)*1rem;
	width:(35/34)*1em;
}
.icon-wallet {
	font-size:(30/10)*1rem;
	width:(33/30)*1em;
}
