/*--------------------ui----------------------*/
.btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: rem(55);
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: $accent;
  padding: rem(5) rem(67);
  font-size: rem(20);
  text-transform: uppercase;
  border-radius: rem(4);
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .3s ease;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: rem(0.2);
	
  &:hover{
     background-color: lighten($accent, 15%);
  }
		
  &:active{
   background-color: darken($accent, 5%);
  }
  
  &-fw{
   width: 100%;
  }

  .icon{
  	margin-left: rem(8);
  	font-size: rem(9.33);
  }
   
}

._sect{
  // padding: rem(136) 0 rem(136) 0;
  @include adaptive-value-rem('padding-top', 136, 40, $maxWidth, $minWidth, 1);
  @include adaptive-value-rem('padding-bottom', 136, 40, $maxWidth, $minWidth, 1);
}
.title-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: rem(57);
  text-align: center;
}
.title-block__title{
  font-family: 'Open Sans', sans-serif;
  @include adaptive-value-rem('font-size', 64, 24, $maxWidth, $minWidth, 1);
  font-weight: 700;
  text-transform: uppercase;
}
.title-block__div{
  margin-bottom: rem(15);
  font-family: "Orbitron", sans-serif;
  @include adaptive-value-rem('font-size', 96, 30, $maxWidth, $minWidth, 1);
  font-weight: 700;
  color: $accent;
  text-transform: uppercase;
}
.title-block__text{
  max-width: rem(573);
  font-weight: 300;
  // text-align: justify;
  font-size: rem(16);
  line-height: 1.5;
}
.text-columns{
   @include  flex-cols-gap(30, 30, $width: 2, $points: ($lg: '',
    $md: '',
    $sm: '',
    $xs: '',
    $xss: '',
    $xsss: '',
    $min: '',
    $mins: ''),
    $columnClass: 'text-column');
   margin-bottom: rem(38);
}
.text-column{
  position: relative;
  padding-top: rem(26);
  text-align: justify;
  line-height: 1.5;
  &:before{
    top: 0;
    left: 0;
    width: rem(13);
    height: rem(13);
  }
  &:after{
    height: rem(2);
    top: rem(6);
    left: 0;
    right: 0;
    width: 100%;

  }
  &:before,
  &:after{
    content: '';
    position: absolute;
    background-color: #000;
  }
}
.block-decor{
  position: absolute;
  width: 100%;
  display: flex;

  &:before{
    top: 0;
    left: 0;
    width: rem(13);
    height: rem(13);
  }
  &:after{
    height: rem(2);
    top: rem(6);
    left: 0;
    right: 0;
    width: 100%;

  }
  &:before,
  &:after{
    content: '';
    position: absolute;
    background-color: #000;
  }

  .decored-bottom &{
    bottom: 0;
    left: 0;
  }
  .decored-top &{
    top: 0;
    left: 0;
  }
}
// .toggle-mnu{
// 	position: fixed;
// 	right: rem(30);
// 	top: rem(15);
//   display: block;
//   width: rem(28);
//   height: rem(28);
//   margin-top: rem(14);
//   padding: 0;
//   background-color: transparent;
//   border: none;

//   span:after, span:before{

//     content: "";
//     position: absolute;
//     left: 0;
//     top: rem(9);
//   } 

//   span:after{

//     top: rem(18);
//   }

//   span{

//     position: relative;
//     display: block;
//   } 

//   span, span:after, span:before{

//     width: 100%;
//     height: rem(2);
//     background-color: #000;
//     transition: all 0.3s;
//     backface-visibility: hidden;
//     border-radius: rem(2);
//   }


//   &.on span{

//     background-color: transparent;
//   } 

//   &.on span:before{

//     transform: rotate(45deg) translate(rem(-1), 0);
//   } 

//   &.on span:after{

//     transform: rotate(-45deg) translate(rem(6), rem(-7));
//   } 
// } 

/*--------------------END ui----------------------*/ 