/*--------------------ui----------------------*/
.btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: rem(55);
  border: none;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  padding: rem(5) rem(67);
  font-size: rem(16);
  text-transform: uppercase;
  border-radius: rem(4);
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .3s ease;
  font-family: 'Open-sans', sans-serif;
  font-weight: 700;
  cursor: pointer;
	
  &:hover{
     background-color: lighten($accent, 5%);
  }
		
  &:active{
   background-color: darken($accent, 5%);
  }
  
  &-fw{
   width: 100%;
  }

  .icon{
  	margin-left: rem(8);
  	font-size: rem(9.33);
  }
   
}

// .toggle-mnu{
// 	position: fixed;
// 	right: rem(30);
// 	top: rem(15);
//   display: block;
//   width: rem(28);
//   height: rem(28);
//   margin-top: rem(14);
//   padding: 0;
//   background-color: transparent;
//   border: none;

//   span:after, span:before{

//     content: "";
//     position: absolute;
//     left: 0;
//     top: rem(9);
//   } 

//   span:after{

//     top: rem(18);
//   }

//   span{

//     position: relative;
//     display: block;
//   } 

//   span, span:after, span:before{

//     width: 100%;
//     height: rem(2);
//     background-color: #000;
//     transition: all 0.3s;
//     backface-visibility: hidden;
//     border-radius: rem(2);
//   }


//   &.on span{

//     background-color: transparent;
//   } 

//   &.on span:before{

//     transform: rotate(45deg) translate(rem(-1), 0);
//   } 

//   &.on span:after{

//     transform: rotate(-45deg) translate(rem(6), rem(-7));
//   } 
// } 

/*--------------------END ui----------------------*/ 