/*--------------------papa----------------------*/
.papa__img{
	text-align: center;
	img{
		width: 100%;
	}
}
.papa__history {}
.history-papa {
	display: grid;
	grid-template-columns: prc(633, 1750) 1fr;
}
.history-papa__info {}
.history-papa__title {}
.history-papa__descr {}
.history-papa__steps {}
.history-papa__list {
	columns: 3;
	gap: rem(15);
}
.history-papa__step {
	list-style-type: none;
	position: relative;
	padding-left: rem(30);
	padding-bottom: rem(30);
	outline: 1px solid red;
	    break-inside: avoid;

	&:before{
		content: '';
		position: absolute;
		left: 0;
		display: block;
		background-color: #000;
		width: rem(13);
		height: rem(13);
		// top: 50%;
		top: rem(7);
		// transform: translateY(-50%);
	}
	&:after{
		content: '';
		position: absolute;
		left: rem(6.5);
		top: rem(13);
		width: rem(1);
		height: calc(100% - rem(7));
		display: block;
		background-color: #000;
	}

	// &:nth-child(){
		
	// }
	&:last-child{
		&:after{
			display: none;
		}
		
	}


}
/*--------------------END papa----------------------*/ 